.navbar {
    height: 70px;
    padding: 0 30px;
    border-radius: 6px;
    margin-bottom: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: black;
    background-color: rgb(210, 210, 210);
}

.navbar-items {
    display: flex;
    gap: 20px;
}