.navbar {
    height: 70px;
    padding: 0 30px;
    margin-bottom: 10px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    background-color: rgb(30, 30, 30);
}

.navbar-items {
    display: flex;
    gap: 20px;
}